{% load static %}
<!doctype html>

<html lang="ru"><head><meta charset="utf-8">

<title>{% block title %}{{ title }}{% endblock title %}</title>

<meta name="viewport" content="width=device-width,initial-scale=1">

<!--<script defer="defer" src="{% static 'main/js/new_date.js' %}"></script>-->
<script defer="defer" src="{% static 'main/js/96d910d518f225df091d.js' %}"></script>

<!--<link href="{% static 'main/css/new_date.css' %}" rel="stylesheet">-->
<link href="{% static 'main/css/cf382795d2dcb90a5062.css' %}" rel="stylesheet">
</head>
<body>
<div>
    <!-- это как напоминалка что возвращается в json, потом можно ее убрать -->
    <div style="display: none" id="jsonData" data-json="{{ date_poster }}"></div>

</div>
</body>
</html>